<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            

             <div class="header1">
                 <a href="/"> HOME</a>
                 <a href="/weather"> weather</a>
                
             </div>

      </body>
</html>